li.nav-hide {
  padding-left : 30px;
  line-height  : 30px; /* vertical align */
  background   : transparent url(http://placehold.it/30) no-repeat scroll 0 0;
}

/* Put whatever you want as a size here */
@media (max-width: 600px) {
  li.nav-hide {

    background : transparent url(http://placehold.it/50) no-repeat scroll 0 0;
    width      : 50px;
    height     : 50px;
  }
  li.nav-hide>i {
    height   : 1px;
    width    : 1px;
    position : absolute;
    overflow : hidden;
    top      : -1000px;
  }
}
