.index-logo{
	text-align:center;
	margin:auto;
	font-size:2.5em;
}

.login-form{
	background:none;
	margin:auto;
}

.index{
	background-image:url('../../images/indexBG.jpg');
	background-repeat:no-repeat;
	background-position:center;
}

.productoImg{
	width:100px;
	height:100px;
	background-color:white;
	border: 1px black solid;
	margin:auto;
}
@media only screen and (max-device-width: 480px){	

	.dataTables_length, .dataTables_filter{
		padding-left:5%;
	}
}
@media only screen and (min-device-width: 481px) {
	.login-form{
		width:50%;
		}
}
